body{
    width: 100vw;
}
header{
    height: fit-content;
    width: fit-content;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.main{
    position: relative;
}
.center-text{
    text-align: center;
    display: block;
}
#next{
    position: absolute;
    left: 45%;
    border: none;
    background-color: orange;
    color: black;
    font-size: 30px;
    
}
.answers{
    display: block;
}

