body{
    width: 100vw;
}
.main{
    position: relative;
}
.center-text{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#start{
    position: absolute;
    left: 45%;
    border: none;
    background-color: orange;
    color: black;
    font-size: 30px;
    
}
